/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.dot-hr{
    border: solid 6px yellow;
    border-bottom: none;
    margin: 20px auto;
    width:70px ;
    border-radius: 5px;
    display: block;
}

/*navbar start*/
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.navbar .nav-logo img{
    width: 110px;
    height: 100px;
}
.nav-menu a{
    color:#2785c2;
    background-color: transparent;
    padding: 5px 15px;
    margin: 5px 0;
}
.nav-menu a:hover{
    color:  #ff9f00;
}
.nav-logo{
    text-align: left;
    margin-top: -25px;
}
.nav-logo img{
    margin-left: 100px;
}

.navbar{
    
        border-bottom:3px solid #2785c2;

        background-color: #171c2a ;
        padding: 1% 7%;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;

}
/*navbar end*/

/* <!-- section 1 start -->*/
.portfolio{
    padding: 130px 10px;
    margin-top: 125px;
    text-align: center;
    background-image: url(img/22-228592_bicycle-art-wallpapers-hd-resolution-is-4k-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio .top {
    position: absolute;
    right: 100px;
    height: 100px;
    top: 20px;
    transition: height 2s,transform 2s;
}
.portfolio .top:hover{
    height: 120px;
}
.portfolio .bottom{
    position: absolute;
    left: 100px;
    height: 100px;
    bottom: 20px;
    transition: height 2s,transform 2s;
}
.portfolio .bottom:hover{
    
    height: 120px;
}
 /*<!-- section 1 end --> */

  /* <!-- section 2 start --> */

.about-image img{
    width: 500px;
    height: 100%;
    
}
.about-des p{
    text-align: left;
}
 /* <!-- section 2 end --> */


/* <!-- section 3 start --> */
    .our-work{
        padding:1% 5% ;
    }
/* <!-- section 3 end --> */

/* secttion 4 start */
    .contact .h{
        border-color: #0099ff;
    }
    .contact3 .h{
        border-color: #0099ff;
    }

    .contact2 input, textarea{
        width:500px ; 
        /* text-align: center; */
        padding: 10px;
        font-size: 1rem;
        border: 2px solid #17a2b8;
        border-radius: 5px;
        resize: none;
        outline: none;
        background-color: transparent;
        color: #eeff02;
    }
/* secttion 4 end */
/* footer */
.footer .privacy span{
    float: left;
    margin-left: 20px;
}
.footer .privacy{
    
}
